.alertbar-container {
  .alert-title {
    font-size: 13px;
    letter-spacing: 0.06;
  }
}

.upcoming {
  background: linear-gradient(262.79deg, #632dff 0%, #00ded1 100%);
}

.active {
  background: linear-gradient(262.79deg, #dc01d3 0%, #eb002a 100%);
}
