@import 'styles/colors';

.button-container {
  padding: 0.625rem 1.25rem;
  text-transform: uppercase;
  font-size: 0.813rem;
}

.outlined-button {
  border: 1px solid $white;
  border-radius: 100px;
}

.primary {
  color: $black;
  background-color: $white;

  &:disabled {
    opacity: 0.4;
    pointer-events: none;
  }
}

.secondary {
  background-color: transparent;
  color: $white;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
