$black: #000;
$white: #fff;
$blue: #07d3d4;
$red: #eb002a;
$darkGray: #181818;
$gradientBlue: linear-gradient(262.79deg, #632dff 0%, #00ded1 100%);
$gradientRed: linear-gradient(262.79deg, #dc01d3 0%, #eb002a 100%);
